@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* 초기화 */
html, head, body, h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, address, blockquote, form, fieldset, legend, table, caption, tr, th, thead, tbody, tfoot, header, nav, aside, section, article, footer, figure, figcaption, footer, main {margin: 0; padding: 0;}
li {list-style-type: none;}
a {text-decoration: none; color: inherit}
table{border-collapse: collapse;}
button{
    border: none;
    cursor: pointer;
}
* {
    vertical-align: none;
    color: #333333;
    font-style: normal;
}
input{border: none;}

input:focus,
button:focus{
    outline: 1px solid #eee;
}

em, i, address, cite {font-style: normal;}

h1, h2, h3, h4, h5, h6, strong, b{
    font-weight: 500;
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 블라인드 텍스트(글자 기본 속성 없애기) */
.blind{
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}

